@page
@model GUITARE_CUSTOM_WEB.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Créer un commpte";
}

<h2>Inscription</h2>

<form method="post">

    <div>
        <label>Nom</label>
        <input asp-for="Nom" placeholder="Nom" required />
    </div>

    <div>
        <label>Prénom</label>
        <input asp-for="Prenom" placeholder="Prénom" required />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" type="email" placeholder="Email" required />
    </div>

    <div>
        <label>Mot de passe</label>
        <input asp-for="Password" type="password" placeholder="Mot de passe" required />
    </div>

    <button type="submit">Créer un compte</button>

</form>

@if (Model.Erreur != null)
{
    <p style="color:red">@Model.Erreur</p>
}

<p>
    Déjà inscrit ?
    <a href="/Auth/Login">Se connecter</a>
</p>
